<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <a href="verDepartamento">Gestión de Departamentos</a>
    <a href="verProducto">Gestión de Productos</a>
    <a href="verEmpleado">Gestión de Empleados</a>
    <a href="verTienda">TIENDA</a>
    <a href="modificarDepartamento">MODIFICAR</a>
    <a href="aplicacion/insertar/3000">Insertar</a>
    <a href="aplicacion/modificar/3000">Modificar</a>
    <a href="aplicacion/eliminar/3000">Eliminar</a>
</body>
</html>